{% extends "jobs/base.html" %}

{% block content %}
  {% load humanize %}
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row">
        <div class="card mb-3 shadow-sm h-600">
          <div class="card-header text-muted">
            <a href="{% url 'home' %}">Home<a> / Jobs / <a href="{% url 'detail' job.id %}">{{ job.title }}</a>
          </div>
          <!-- <div class="card-header">Job Details</div> -->
          <img class="card-img-top" src="{{ job.image.url }}" alt="Image Job">
          <div class="card-body">
            <h5 class="card-title">{{ job.title }}</h5>
            <p class="card-text">{{ job.summary }}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{% url 'home' %}" class="btn btn-sm btn-secondary" role="button">Back</a>
                <a href="{% url 'detail' job.id %}" class="btn btn-sm btn-outline-secondary" role="button">Edit</a>
              </div>
              <small class="text-muted">{{ job.created_at|naturaltime }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
